<style>
    nav ul li a {
        color: black;
    }
</style>


<header>
  <div class="logo">SCHOOL 10
    <hr class="logo_line">
  </div>
</header>

<div class="nav_block">
    <nav>
      <a href="/"><button class="button_nav nav_home"></i></button></a>
      <a href="/forstudents"><button class="button_nav"></i></button></a>
    </nav>
  </div>