<style>
    nav ul li a {
        color: black;
    }
</style>


<header>
  <div class="logo">SCHOOL 10
    <hr class="logo_line">
  </div>
</header>

<div class="nav_block">
    <nav>
        <main>
          <span tooltip="Главная" flow="right"><a href="/"><button class="button_nav nav_home"></i></button></a></span>
          <span tooltip="Для учеников" flow="right"><a href="/forstudents"><button class="button_nav nav_students"></i></button></a></span>
          <span tooltip="Для учителей" flow="right"><a href="/forteachers"><button class="button_nav"></i></button></a></span>
          <span tooltip="Для родителей" flow="right"><a href="/forparents"><button class="button_nav nav_parents"></i></button></a></span>
          <span tooltip="Медиа" flow="right"><a href="/media"><button class="button_nav"></i></button></a></span>
          <span tooltip="Достижения" flow="right"><a href="/achievements"><button class="button_nav"></i></button></a></span>
        </main>
    </nav>
</div>