{{> head}}

<body>
    {{> navbar}}
    <div class="container">
        {{{ body }}}
    </div>
    <footer>
        <input type="checkbox" id="hider">
        <div class="box_communication"></div>
        <label for="hider" class="voice_assistant_button"><i class="fa fa-commenting"></i></label>
    </footer>
</body>
</html>