body {
    margin:0;
    height: 100%;
}

header {
    width: 100%;
    height: 20% auto;
    background: white;
    position: inherit;
    display: flex;
    align-items: left;
    orientation: vertical;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    color:#303030;
    font-size: 40px;
    font-weight: bold;
    margin-left: 25%;
    padding-top: 1%;
}

.nav_block {
    position: absolute;
    height: 100%;
    width: 5% auto;
    border-right: 3px solid;
    float: left;
    top: 0;
    left: 0;
}

nav {
    position: relative;
    left: 0%;
    margin: 0 auto;
}

.nav_item{
    position: fixed;
    font-family: 'Nunito', sans-serif;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    display: block;
}

.nav_item:hover {
    color: #098dba;
}

hr.logo_line {
    border: 1px solid black;
    width: 200%;
    margin-top: 0;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.button_nav {
    background-color: #fff;
    border: none;
    padding: 30px 30px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav_home {
    background-image: url('/assets/images/home.svg');
}

.nav_students {
  background-image: url('/assets/images/students.svg');
}

.nav_parents {
  background-image: url('/assets/images/parents.svg');
}

.nav_teachers {
  background-image: url('/assets/images/teachers.svg');
}

.nav_media {
  background-image: url('/assets/images/media.svg');
}

/* .button_nav:hover {
    background-color: #888888;
} */


[tooltip] {
    position: relative;
  }
  
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
  }
  [tooltip]::after {
    content: attr(tooltip);
    

    font-family: Helvetica, sans-serif;
    text-align: center;
    

    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
  }

  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }

  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main span {
    margin-top: 35%;
    display: block;
  }


.voice_assistant_button {
  background-color: #FBEEC1;
  border: none;
  color: #fff;
  padding: 20px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20%;
  float: right;
}


.voice_assistant_button:hover {
  background-color: #BC986A;
}

footer {
  position: fixed;
  right: 1%; bottom: 1%;
}

#messages {
	overflow: auto;
	height: 600px;
}


.box_communication {
  margin-bottom: 1%;
  margin-right: 1%;
  display: none;
}

#hider {
  position: fixed;
  bottom: -9999px;
  right: -9999px;
}

#hider:checked + .box_communication {
  display: inline-block;
}

.footer_container {
  height: 700px;
  width: 400px;
  background-color: #fff;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-bottom-left-radius: 2%;
}

.location-text-input {
  display: inline;
	border: none;
	background: #F5EDC3;
	border-radius: 10px;
	padding: 20px;
	color: grey;
  outline: none;
  user-select: none;
	width: 40%;
	font-size: 30 px;
	margin-left: 10%;

  box-shadow: 5px 5px 5px grey;
  position: absolute;
  bottom: 1%;
  left: 40%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.btn-send {
  display: inline-block;
	background-color: orange;
  border: none;
  user-select: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	border-radius: 20%;
	margin-right: 20px;
	cursor: pointer;
  box-shadow: 5px 5px 5px grey;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.btn-send:hover {
	background-color: #978318;
}


.btn-mic {
  display: inline-block;
	background-color: orange;
  border: none;
  user-select: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	border-radius: 20%;
	margin-left: 2%;
	cursor: pointer;
  box-shadow: 5px 5px 5px grey;
  position: absolute;
  bottom: 1%;
  left: 1%;
}

.btn-mic:hover {
	background-color: #978318;
}

ul {
	margin: 0;
	padding: 0;
	height: 200px;
	resize: none;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #F7F76B;
  font-size: 18px;
  transition: 0.2s;
  color: black;
  border-radius: 10px;
  border: 3px solid #CBCB6C;
  box-shadow: 3px 3px 3px grey;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 0px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #2293DC;
  border: 3px solid #2670C4;
  margin-left: 0px;
  margin-right: 50px;
}

ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #ACACA6;
	border-style: solid;
	top: 10px;
	height: 15px;
	width: 7px;
}


@keyframes move {
	from {
		top: 100px;
	}

	to {
		top: 0px;
	}
}

ul li {
	animation: move 2s linear;
}