body {
    margin:0;
}

header {
    width: 100%;
    height: 20% auto;
    background: white;
    position: inherit;
    display: flex;
    align-items: left;
    orientation: vertical;
}

.logo {
    font-family: 'Roboto Condensed', sans-serif;
    color:#303030;
    font-size: 40px;
    font-weight: bold;
    margin-left: 25%;
    padding-top: 1%;
}

.nav_block {
    position: absolute;
    height: 100%;
    width: 5%;
    border-right: 3px solid;
    float: left;
    top: 0;
    left: 0;
}

nav {
    position: relative;
    left: 0%;
    margin: 0 auto;
}

.nav_item{
    font-family: 'Nunito', sans-serif;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    display: block;
}

.nav_item:hover {
    color: #098dba;
}

hr.logo_line {
    border: 1px solid black;
    width: 200%;
    margin-top: 0;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.button_nav {
    background-color: #4fadcf;
    border: none;
    padding: 24px 24px;
    cursor: pointer;
    position: relative;
    border-radius: 10%;
    padding-left : 32px;
    padding-top : 32px;
    background-size: cover;
    background-position: center center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav_home {
    background-image: url('/assets/images/home.svg');
}

.button_nav:hover {
    background-color: #407bbf;
}


[tooltip] {
    position: relative;
  }
  
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent;
    z-index: 1001;
  }
  [tooltip]::after {
    content: attr(tooltip);
    

    font-family: Helvetica, sans-serif;
    text-align: center;
    

    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
  }

  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }

  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main span {
    margin-top: 15%;
    display: block;
  }